eval SSH_AUTH_SOCK=/var/folders/7j/g70zcdjd2z1_55kc6x70r0cr0000gn/T//ssh-n06QiD34Ay9u/agent.29014; export SSH_AUTH_SOCK;
SSH_AGENT_PID=29015; export SSH_AGENT_PID;
echo Agent pid 29015;
eval SSH_AUTH_SOCK=/var/folders/7j/g70zcdjd2z1_55kc6x70r0cr0000gn/T//ssh-oXdKveFGp820/agent.29016; export SSH_AUTH_SOCK;
SSH_AGENT_PID=29017; export SSH_AGENT_PID;
echo Agent pid 29017;.pub
